@page "/create-post"
@using HiLandon.Application.Posts;
@using HiLandon.Core.Entities;
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@inject CreateOrUpdatePostHandler CreateOrUpdatePostHandler

<PageTitle>Create Post</PageTitle>

<div class="container">
    <h1>Create Post</h1>
    <EditForm Model="@post" OnSubmit="OnSubmitAsync" FormName="CreatePostForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <label for="title-form-control" class="form-label">Title</label>
            <InputText class="form-control" @bind-Value="post.Title" />
        </div>
        <div class="mb-3">
            <label for="content-form-control" class="form-label">Content</label>
            <InputTextArea class="form-control" @bind-Value="post.Content" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Create Post</button>
        </div>
    </EditForm>
</div>
@code {
    @* [SupplyParameterFromForm] *@
    private Post post = new Post();
    
    private async Task OnSubmitAsync()
    {
        Console.WriteLine("*** OnSubmit");
        await CreateOrUpdatePostHandler.Handle(post);
    }
}
