@inherits LayoutComponentBase
<header>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/create-post">Create blog post</a>
        </li>
        <li>
            <a href="/create-user">Create user</a>
        </li>
        <li>
            <a href="/create-tag">Create tag</a>
        </li>
        <li>
            <a href="/users">Users</a>
        </li>
        <li>
            <a href="/tags">Tags</a>
        </li>
    </ul>
</header>
<main>
    @Body
</main>
<footer>
    &copy; Andrés Talavera
</footer>